body{
background-color:#428f42;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
}
h1{

}
.blanco{
    color: white;
    font-family: serif;
    font-style: oblique;
}
.rojo{
    color: red;
    font-family: sans-serif;
}
.amarillo{
    color: rgb(233, 233, 162);
}
.naranja{
    color: orange;
    font-family: monospace;
}